<% unless current_page?('/') %>
  <a href="javascript:history.back()" class="btn btn-outline-dark me-2"
    style="font-size: 1.5rem; margin-left: 5%; margin-bottom: 25px; padding: 0 6px 2px 6px;"><strong><</strong>
  </a>
<% end %>
