<nav id="navbar" class="navbar navbar-expand-lg" style="background-color: $mynewcolor2;">
  <div class="container">
    <button class="navbar-toggler text-white" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
      <span class="navbar-toggler-icon" style="filter: invert(100%) sepia(0%) saturate(0%)
        hue-rotate(113deg) brightness(103%) contrast(102%);">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Budget</a>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, class: "nav-link active text-white",
            "aria-current" => "page", method: :delete %>
        </li>
      </ul>
      <form class="">
      </form>
    </div>
    <a class="navbar-brand" href="/">
      <img src="/assets/app_logo_80x62.png" width="64" height="50">
    </a>
  </div>
</nav>
