<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Smart Budget App</h1>
      <h5 class="text-center" style="margin-bottom: 200px">Manage your expenses wisely!</h5>
      <p style="mr-3">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary", style: "width: 100%" %>
      </p>
      <p style="ml-3">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary", style: "width: 100%" %>
      </p>
    </div>
  </div>
</div>
