<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Smart Budget App</h1>
      <p>Manage your expenses wisely!</p>
      <div class="btn-group" role="group" aria-label="Login and Sign Up">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
