<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Smart Budget App</h1>
      <h5>Manage your expenses wisely!</h5>
      <p style="mr-3">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
      </p>
      <p style="ml-3">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
      </p>
    </div>
  </div>
</div>
